@charset "UTF-8";


/*애니메이션 속도조절*/
.animate__animated.animate__fadeInUp {
	
  --animate-duration: 700ms;
  --animate-delay: 700ms;
}

/* book.jsp 애니메이션 */
.pagintAni{
	
	--animate-duration: 1s;
  --animate-delay: 1s;
	
}

.bookTable{
	
	--animate-duration: 1s;
  --animate-delay: 1s;
	
}
